body {
  color: #263238;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fafafa; }
  body a {
    color: #ff4081; }
    body a:hover, body a:active {
      color: #f50057; }
  body .login-bg {
    background-color: red; }

.card-default > .card-heading {
  background-image: url("images/card-bg.jpg");
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  color: #3f51B5;
  background-color: transparent;
  border-radius: 0; }

#site-header {
  background: #7E8EE9; }

.btn {
  border-radius: 0;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif; }

.btn-info {
  border-radius: 3px;
  border: none;
  background-color: #673ab7;
  color: #fff !important;
  box-shadow: 0 3px 4px 0 rgba(8, 11, 16, 0.2); }
  .btn-info:hover, .btn-info:active {
    border: none;
    background-color: #512da8;
    color: #eceff1 !important;
    box-shadow: 0 1px 2px 0 rgba(8, 11, 16, 0.2); }

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  border: 2px solid #673ab7;
  background-color: #673ab7;
  color: #fff !important; }

.btn-primary {
  border-radius: 3px;
  border: none;
  background-color: #ff4081;
  color: #fff !important;
  box-shadow: 0 3px 4px 0 rgba(8, 11, 16, 0.2); }
  .btn-primary:hover, .btn-primary:active {
    border: none;
    background-color: #f50057;
    color: #eceff1 !important;
    box-shadow: 0 1px 2px 0 rgba(8, 11, 16, 0.2); }

.btn-default {
  border-radius: 0;
  border: 2px solid #3f51B5;
  background-color: #fff;
  color: #3f51B5 !important; }
  .btn-default:hover, .btn-default:active, .btn-default:visited {
    border: 2px solid #3f51B5;
    background-color: #3f51B5;
    color: #fff !important; }

.btn-success {
  border-radius: 0;
  border: 2px solid #009688;
  background-color: #fff;
  color: #009688 !important; }
  .btn-success:hover, .btn-success:active, .btn-success:visited {
    border: 2px solid #009688;
    background-color: #009688;
    color: #fff !important; }

.btn-danger {
  border-radius: 0;
  border: 2px solid #f44336;
  background-color: #fff;
  color: #f44336 !important; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    border: 2px solid #f44336;
    background-color: #f44336;
    color: #fff !important; }

.product-link {
  color: #ff4081; }
  .product-link:hover, .product-link:active {
    color: #f50057; }

.top-head {
  padding-top: 10px;
  background-color: #303f9f;
  border: none; }
  .top-head a {
    color: #eceff1;
    font-size: 12px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold; }
    .top-head a:hover, .top-head a:active {
      background-color: #303f9f;
      color: #fff; }

.navbar-default {
  background-color: #3f51B5;
  border: none;
  color: #eceff1;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23); }
  .navbar-default .dropdown .open {
    color: #fff;
    background-color: #3f51B5; }
  .navbar-default .dropdown-menu {
    background-color: #3f51B5; }
  .navbar-default #cart-list {
    padding: 20px 10px; }
  .navbar-default .amount {
    color: #263238; }
  .navbar-default .product-link {
    color: #ff4081; }
    .navbar-default .product-link:hover, .navbar-default .product-link:active {
      color: #f50057; }
  .navbar-default .navbar-toggle {
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
      background-color: transparent; }
      .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:active .icon-bar {
        background-color: #eceff1; }
  .navbar-default a {
    color: #fff;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none; }
    .navbar-default a:hover, .navbar-default a:active {
      color: #fff;
      background-color: #3f51B5; }
  .navbar-default li a {
    color: #fff !important;
    font-size: 14px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #3f51B5; }
    .navbar-default li a:hover, .navbar-default li a:active {
      color: #fff;
      background-color: #3f51B5 !important; }
  .navbar-default .order-preview {
    color: #263238; }
  .navbar-default .btn-default {
    color: #263238; }
    .navbar-default .btn-default:hover, .navbar-default .btn-default:active {
      color: #263238; }

.side-collapse {
  background-color: #3f51B5; }

.hidden-xs .dropdown-menu {
  background-color: #303f9f; }
  .hidden-xs .dropdown-menu .panel-default .panel-body {
    background-color: #303f9f;
    color: #fff;
    border: none; }
    .hidden-xs .dropdown-menu .panel-default .panel-body .text-center a {
      padding: 4px 4px 4px 0; }
  .hidden-xs .dropdown-menu .panel-default .panel-footer {
    background-color: #303f9f;
    color: #fff;
    border-top: none; }

.hidden-xs .navbar-default {
  background-color: #303f9f;
  box-shadow: -1px 5px 5px -4px rgba(0, 0, 0, 0.23); }
  .hidden-xs .navbar-default .dropdown .open {
    color: #fff;
    background-color: #2f3d9b; }

.hidden-xs .navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #303f9f;
  padding: 10px 20px; }
  .hidden-xs .navbar-default .navbar-nav > li > a:hover, .hidden-xs .navbar-default .navbar-nav > li > a:active, .hidden-xs .navbar-default .navbar-nav > li > a:focus, .hidden-xs .navbar-default .navbar-nav > li > a:visited {
    color: #fff;
    background-color: #2f3d9b; }
  .hidden-xs .navbar-default .navbar-nav > li > a .open {
    color: #fff;
    background-color: #2f3d9b; }

.hidden-xs .navbar-default .navbar-nav > .open > a, .hidden-xs .navbar-default .navbar-nav > .open > a:hover, .hidden-xs .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #2f3d9b; }

.hidden-xs .btn-xs {
  padding: 10px !important;
  background-color: #ff4081; }

.hidden-xs .btn-sm {
  padding: 12px !important;
  background-color: #673ab7; }

.mainheader {
  background-color: #fff; }
  .mainheader .dist-name {
    font-weight: lighter;
    font-family: Roboto, Arial, Helvetica, sans-serif; }

.navbar-default .navbar-nav > li > a {
  color: #263238;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: #eceff1;
    background-color: #2f3d9b; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

@media (max-width: 768px) {
  .navbar {
    margin-bottom: 20px; }
  .navbar-collapse .pull-right {
    float: none !important; } }

footer {
  background-color: #546e7a;
  border: none;
  color: #eceff1; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff4081; }

@media (max-width: 768px) {
  .side-collapse {
    background-color: #3f51B5 !important; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    background-color: #303f9f !important; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
      color: #fff;
      background-color: #526b77; }
  .navbar-default .navbar-nav > li > a {
    color: #fff; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: #fff;
    background-color: #526b77; }
  .pull-right {
    float: none !important; }
  .side-collapse {
    background-color: #546e7a; }
    .side-collapse a {
      color: #fff; } }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #303f9f; }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #3f51B5; }

.white-text {
  color: #fff; }

.blue-section {
  background-image: url("/Content/styles/theme/images/bluebg.jpg");
  background-size: cover;
  background-position: left top; }

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial, Helvetica, sans-serif; }

.text-info {
  color: #3e2280; }

.text-success {
  color: #00463e; }

.text-danger {
  color: #f44336; }

.text-default {
  color: #242f78; }

.text-primary {
  color: #c20045; }

.page-title {
  display: block;
  /*font-size: 1.5em;*/
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  /*font-weight: bold;*/
  /*Custom*/
  text-transform: uppercase;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500; }

.card-section {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
  margin-bottom: 20px; }

.banner01 .card-section {
  background-image: url("/Content/styles/theme/images/banner01.jpg");
  background-size: cover; }
  .banner01 .card-section .banner-text {
    text-align: right; }
  .banner01 .card-section h1, .banner01 .card-section h2, .banner01 .card-section h3 {
    margin: 0;
    color: #fff; }
  .banner01 .card-section h1 {
    font-size: 60px;
    font-weight: bold; }
  .banner01 .card-section h2 {
    font-size: 40px; }
  .banner01 .card-section h3 {
    font-size: 30px; }

.banner02 .card-section {
  background-image: url("/Content/styles/theme/images/banner01.jpg");
  background-size: cover; }
  .banner02 .card-section h1, .banner02 .card-section h2, .banner02 .card-section h3 {
    margin: 0;
    color: #fff; }
  .banner02 .card-section h1 {
    font-size: 60px;
    font-weight: bold; }
  .banner02 .card-section h2 {
    font-size: 40px; }
  .banner02 .card-section h3 {
    font-size: 30px; }

.home-products .row {
  text-align: center; }
  .home-products .row .btn {
    text-transform: uppercase; }

.form {
  text-align: left; }

.well {
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
  margin-bottom: 20px; }

#shopping-cart-preview .dropdown-toggle .fa-shopping-cart {
  color: #eceff1; }

#categorylist-accordion .panel .panel-heading .panel-title, #categorylist-accordion .panel-heading .panel-heading .panel-title, #categorylist-accordion .panel-title .panel-heading .panel-title, #categorylist-accordion .panel-body .panel-heading .panel-title {
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2); }

.panel {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2); }

.price {
  color: #3f51B5; }

#Dist .modal-content {
  padding: 20px;
  border-radius: 0; }
  #Dist .modal-content .dist-name {
    font-weight: lighter;
    font-family: Roboto, Arial, Helvetica, sans-serif; }

#Dist .id-social {
  font-size: 20px;
  margin-right: 8px; }

.qtyplus, .qtyminus {
  background-color: transparent;
  border: 1px solid silver; }
  .qtyplus i, .qtyminus i {
    color: silver; }
  .qtyplus:hover, .qtyplus:active, .qtyminus:hover, .qtyminus:active {
    background-color: #ff4081; }
    .qtyplus:hover i, .qtyplus:active i, .qtyminus:hover i, .qtyminus:active i {
      color: #fff; }

.cart-remove:hover, .cart-remove:active {
  background-color: #f44336; }

.view-paneledcart .form-control {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.image01 {
  background-image: url("/Content/styles/theme/images/product01.png");
  background-size: 100%;
  width: 100%;
  padding-top: 29.8%;
  height: 0;
  text-indent: -9999px; }

.alert-success {
  color: #fff;
  background-color: #009688;
  border-color: #00796b; }

#view-packs .pack-list .pack header {
  background-color: #ff4081; }

#view-packs .pack-list .pack article {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2); }
  #view-packs .pack-list .pack article .item-details .shortdescription {
    text-align: center;
    color: #263238; }

/*Kendo*/
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #ff4081;
  border-color: #ff4081; }

.k-state-selected .k-link {
  color: #fff; }

.k-link:visited {
  color: #ff4081; }

.k-nav-current.k-state-hover .k-link {
  color: #ff4081; }

/*Panel*/
.panel-info {
  border-color: #3f51B5;
  border-radius: 0; }
  .panel-info .panel-heading {
    color: #fff;
    background-color: #3f51B5;
    border-color: #3f51B5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #ff4081; }

#site-logo img {
  max-height: 100px; }

.input-group .btn {
  padding: 7px 15px; }

.input-group .btn-default {
  border: 1px solid #ccc; }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #ff4081;
  border-color: #ff4081; }

#auto-order-manager .auto-order-module-btn {
  margin: 0; }

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #546e7a;
  border-radius: 0;
  color: #fff; }
  .breadcrumb .active {
    color: #fff; }

#view-dashboard .well {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2); }

#view-dashboard .card {
  border-radius: 0;
  box-shadow: 0 3px 3px 0 rgba(8, 11, 16, 0.2);
  border: none; }

.progress-bar-info {
  background-color: #512da8; }

.tab-content {
  border-radius: 0;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2); }

.logonav {
  background-image: url("/Content/styles/theme/illuminel/images/logonav.png");
  background-repeat: no-repeat;
  min-height: 30px;
  min-width: 77px;
  background-size: contain;
  max-width: 135px;
  margin-top: -7px; }

.logomain {
  background-image: url("/Content/styles/theme/illuminel/images/logo.png");
  background-repeat: no-repeat;
  min-height: 100px;
  width: 100%;
  background-size: contain; }

#view-sitelogin {
  width: 320px;
  height: 320px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  background-color: #3f51B5;
  border: none;
  color: #eceff1;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23); }

.card-default > .card-footer {
  color: #ff4081;
  border-color: #fff;
  border-radius: 0;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  background-image: url("images/card-bottom.jpg");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0; }

a.card-footer:hover {
  background-color: #fff;
  color: #f50057;
  text-decoration: none; }

.card-recentorders .media {
  color: #ff4081; }

.dial-chart {
  color: #ff4081 !important; }

.card-recentorders .media-object {
  font-size: 25px; }

.panel-default > .panel-heading {
  color: #fff;
  background-color: #ff4081; }
  .panel-default > .panel-heading a {
    color: #fff; }
    .panel-default > .panel-heading a:hover, .panel-default > .panel-heading a:active {
      color: #fff; }

.avatar {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23); }

.row .col-a .card-title {
  font-size: 16px; }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 50% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 50% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 25% !important; } }

.row .col-b .card-title {
  font-size: 16px; }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 50% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 50% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 25% !important; } }

.row .col-c .card-title {
  font-size: 16px; }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 50% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 50% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 25% !important; } }

.row .col-d .card-title {
  font-size: 16px; }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 50% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 50% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 25% !important; } }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 100% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 100% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 50% !important; } }

.row .col-e .card-body {
  text-align: center; }

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 100% !important; } }

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 100% !important; } }

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 50% !important; } }

