<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <add name="Api.Sql.ConnectionStrings.SqlReporting" connectionString="server=exigodemo.bi.exigo.com;database=ExigodemoReporting;uid=ExigoDemosa;pwd=ExigoDem0;Encrypt=True;TrustServerCertificate=True;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <!--settings.cs config values-->
    <add key="ReleaseMode" value="debug"/>
    <add key="DebugEnvironments" value="localhost,uat"/>
    <add key="EnvironmentGatekeepers" value="jamesb@exigo.com;matte@exigo.com"/>
    <add key="Api.LoginName" value="API_Username"/>
    <add key="Api.Password" value="API_Password"/>
    <add key="Api.CompanyKey" value="exigodemo"/>
    <add key="Api.UseSandboxGlobally" value="false"/>
    <add key="Api.SandboxID" value="5"/>
    <!-- Defaulting the connection string to Encrypt the connection just in case... confirm with client/network team before removing encrypt and TrustServerCertificate parameters-->
    <add key="Api.ConnectionStrings.Redis" value="exigodemo.redis.cache.windows.net:6380,password=ma0wzaWBa3taU8Fh0r4cnM34Zq7q4R5GAqbpQdhp1Yo=,ssl=True,abortConnect=False"/>
    <add key="Company.BaseBackofficeUrl" value="https://exigobackoffice.azurewebsites.net"/>
    <add key="Company.BaseReplicatedUrl" value="https://exigoreplicated.azurewebsites.net"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.1" debug="true" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="2000" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Common.Properties.Settings>
      <setting name="Common_Api_ExigoAdminWebService_ExigoApiAdmin"
        serializeAs="String">
        <value>http://api.exigo.com/admin/1.0/exigoapiadmin.asmx</value>
      </setting>
      <setting name="Common_Api_ExigoWebService_ExigoApi" serializeAs="String">
        <value>http://api.exigo.com/3.0/ExigoApi.asmx</value>
      </setting>
    </Common.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="exigodemoreportingConnectionString" connectionString="Data Source=exigodemo.bi.exigo.com;Initial Catalog=exigodemoreporting;Persist Security Info=True;User ID=demo;Password=w5Q9fy4!Zxe$" providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.webServer>
		<handlers>
			<remove name="ResourceJs" />
			<add name="ResourceJs" verb="GET" path="resourcejs.axd" type="ResourceJs.ResourceJsHandler, ResourceJs" />
		</handlers>
	</system.webServer></configuration>