@model String
@{
    Layout = "~/Views/Shared/EditorTemplates/_FormField.cshtml";

    var htmlAttributes = Html.GetEditorHtmlAttributes(new
    {
        @class = "form-control",
        role = "textbox"        
    });
}

<div class="input-group">
    <span class="input-group-addon">
        <i class="fa-question-circle" data-toggle="popover" data-container="body" data-title=@Resources.Common.WhyDoWeNeedThis data-trigger="hover" data-placement="top" data-content=@Resources.Common.ProvideTaxID></i>
    </span>

    @Html.TextBoxFor(c => c, htmlAttributes)
</div>

<script>
    require(["jquery", "bootstrap"], function($) {
        $("#@(Html.IdFor(c => c))").popover();
    });
</script>
