<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="Api.Sql.ConnectionStrings.SqlReporting" connectionString="server=exigodemo.bi.exigo.com;database=ExigodemoReporting;uid=ExigoDemosa;pwd=ExigoDem0;Encrypt=True;TrustServerCertificate=True;" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
  </connectionStrings>
  <appSettings>
    <add key="ReleaseMode" value="release" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Api.UseSandboxGlobally" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Api.SandboxID" value="5" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Company.BaseBackofficeUrl" value="https://exigobackoffice.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Company.BaseReplicatedUrl" value="https://exigoreplicated.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
