@model string
@{
    var x = Model;
}



<div class="text-center" style="float:left; margin:10px;">
    <button class="btn btn-secondary" data-role="deleteKeyword" data-id="@Model"><i class="fa fa-remove"></i> @Model</button>
</div>





