#view-accountoverview {
	.detail { display: block; }
	.form { display: none; }
	.editbutton { display: block; }

	.panel-body.edit { background-color: #F5F5F5;
		.detail { display: none; }
		.form { display: block; }
		.editbutton { display: none; }
	}
}

#view-paymentmethodslist
{
    .popover
        {
        min-width: 200px;
        max-width: none;
    }
}