// Spin Up Instruction: Theme Switcher - Remove The styles/theme folder
@import "../../mixins/_mixins";

//Colors
$background1: #f8f8f8;
$background2: #666f75;
$pri-color: #0da1d7;
$sec-color: #575e63;

$light-purple: #8C8FBA;
$info: #af42e8;
$info-light: #c866fc;
$info-dark: #993cc9;

$primary: #0da1d7;
$primary-light: #17b8f3;
$primary-dark: #0da1d7;

$default: #fb9543;
$default-light: #ffb478;
$default-dark: #dd8239;

$danger: #f13759;
$danger-light: #ff5a78;
$danger-dark: #c92f4b;

$success: #26d54c;
$success-light: #3ff365;
$success-dark: #21bb42;

$text-dark: #696969;
$text-light: #a0afb9;
$white: #fff;

//MainStyles
body {
    color: $text-dark;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: $background1;

    a {
        color: $primary;

        &:hover, &:active {
            color: $primary-dark;
        }
    }
}

// logo
.logomain {
    background-image: url('/Content/styles/theme/bellezza/images/logo.png');
    background-repeat: no-repeat;
    min-height: 100px;
    width: 100%;
    background-size: contain;

    @media (max-width: 600px) { 
        min-height: 30px !important;
    }
}

//Buttons and Links
.btn {
    border-radius: 0;
    font-size: 14px;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.btn-info {
    border-radius: 0;
    border: 2px solid $info;
    background-color: $white;
    color: $info !important;

    &:hover, &:active {
        border: 2px solid $info;
        background-color: $info;
        color: $white !important;
    }
}

.btn-primary {
    border-radius: 0;
    border: 2px solid $primary;
    background-color: $white;
    color: $primary !important;

    &:hover, &:active {
        border: 2px solid $primary;
        background-color: $primary;
        color: $white !important;
    }
}

.btn-default {
    border-radius: 0;
    border: 2px solid $default;
    background-color: $white;
    color: $default !important;

    &:hover, &:active, &:visited {
        border: 2px solid $default;
        background-color: $default;
        color: $white !important;
    }
}

.btn-success {
    border-radius: 0;
    border: 2px solid $success;
    background-color: $white;
    color: $success !important;

    &:hover, &:active, &:visited {
        border: 2px solid $success;
        background-color: $success;
        color: $white !important;
    }
}

.btn-danger {
    border-radius: 0;
    border: 2px solid $danger;
    background-color: $white;
    color: $danger !important;

    &:hover, &:active, &:visited {
        border: 2px solid $danger;
        background-color: $danger;
        color: $white !important;
    }
}

a {
    color: $primary;

    &:hover, &:active {
        color: $primary-dark;
    }
}

.product-link {
    color: $primary;

    &:hover, &:active {
        color: $primary-dark;
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: $background2;
}

.subcategory-list {
    li {
        padding: 0 10px;
        border-radius: 0;
        border: none;
        background-color: $white;
        box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
        margin-bottom: 5px;
    }
}

#site-header { 
    border-top-color: $light-purple; 
    background-color: $white;

    .dist-name {
        font-weight: lighter;
        font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
    }
}

.navbar-default {
    background-color: $white;    
    color: $text-dark;
    -webkit-box-shadow: -1px 7px 10px -4px rgba(0,0,0,0.23);
    -moz-box-shadow: -1px 7px 10px -4px rgba(0,0,0,0.23);
    box-shadow: -1px 7px 10px -4px rgba(0,0,0,0.23);

    #cart-list {
        padding: 20px 10px;
    }

    .amount {
        color: $text-dark;
    }

    .product-link {
        color: $primary;

        &:hover, &:active {
            color: $primary-dark;
        }
    }

    a {
        color: $background2;
        font-size: 16px;
        font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
        text-decoration: none;

        &:hover, &:active {
            color: $sec-color;
        }
    }

    .order-preview {
        color: $text-dark;
    }

    .btn-default {
        color: $text-dark;

        &:hover, &:active {
            color: $text-dark;
        }
    }
}





.navbar-default .navbar-nav > li > a {
    color: $text-dark;
    font-size: 16px;
    font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;

    &:hover, &:active {
        color: $text-dark;
        background-color: darken($white, 1%);
    }
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


@media (max-width: 768px) {
    .navbar {
        margin-bottom: 20px;
    }

    .navbar-collapse {
        .pull-right {
            float: none !important;
        }
    }
}

footer {
    background-color: $sec-color;
    border: none;
    color: $text-light;
}

//Nav Toggle
.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $info;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

//Pills
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: $pri-color;
}


//Text
.white-text {
    color: $white;
}

.blue-section {
    background-image: url("/Content/styles/theme/images/bluebg.jpg");
    background-size: cover;
    background-position: left top;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}


//Sections
.card-section {
    background-color: $white;
    padding: 30px;
    box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
    margin-bottom: 20px;
}

.banner01 {
    .card-section {
        background-image: url('/Content/styles/theme/bellezza/images/banner01.jpg');
        min-height: 300px;
        width: 100%;
        background-position: center;
        padding: 0;
        background-size: cover;
    }
}

.banner02 {
    .card-section {
        background-image: url('/Content/styles/theme/bellezza/images/banner01.jpg');
    }
}

.bannerjoin {
    .card-section {
        background-image: url('/Content/styles/theme/bellezza/images/bannerjoin.jpg');
        background-size: cover;
        background-position: center;

        .banner-text {
        }

        h1, h2, h3 {
            margin: 0;
            color: $white;
            text-shadow: 2px 2px rgba(0,0,0,0.23);
        }

        h1 {
            font-size: 60px;
            font-weight: bold;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }
}

.bannerabout {
    .card-section {
        background-image: url('/Content/styles/theme/bellezza/images/bannerabout.jpg');
        background-size: cover;
        background-position: center;

        .banner-text {
        }

        h1, h2, h3 {
            margin: 0;
            color: $white;
            text-shadow: 2px 2px rgba(0,0,0,0.23);
        }

        h1 {
            font-size: 60px;
            font-weight: bold;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }
}

.bannerlogin {
    .card-section {
        background-image: url('/Content/styles/theme/bellezza/images/bannerlogin.jpg');
        background-size: cover;
        background-position: center;

        .banner-text {
        }

        h1, h2, h3 {
            margin: 0;
            color: $white;
            text-shadow: 2px 2px rgba(0,0,0,0.23);
        }

        h1 {
            font-size: 60px;
            font-weight: bold;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }
}

.home-products {
    .card-section {
    }

    .row {
        text-align: center;

        .btn {
            text-transform: uppercase;
        }
    }
}

.form {
    text-align: left;
}

.well {
    background-color: $white;
    box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
    margin-bottom: 20px;
}


//Shopping



#shopping-cart-preview .dropdown-toggle {
    margin-left: 13px;

    .fa-shopping-cart {
        color: $text-light;
    }
}

#categorylist-accordion .panel, #categorylist-accordion .panel-heading, #categorylist-accordion .panel-title, #categorylist-accordion .panel-body {

    .panel-heading {
        .panel-title {
            border-radius: 0;
            border: none;
            background-color: $white;
            box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
        }
    }
}


.panel {
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

.price {
    color: $pri-color;
}


//Distributor
#Dist {
    .modal-content {
        padding: 20px;
        border-radius: 0;

        .dist-name {
            font-weight: lighter;
            font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
        }
    }

    .id-social {
        font-size: 20px;
        margin-right: 8px;
    }
}

//Cart
.qtyplus, .qtyminus {
    background-color: transparent;
    border: 1px solid silver;

    i {
        color: silver;
    }

    &:hover, &:active {
        background-color: $primary;

        i {
            color: $white;
        }
    }
}

.cart-remove {
    &:hover, &:active {
        background-color: $danger;
    }
}

.view-paneledcart {
    .form-control {
        border: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
}

.image01 {
    content: url('/Content/styles/theme/bellezza/images/product01.png');
}

//Enrollment
.alert-success {
    color: $white;
    background-color: $success;
    border-color: $success-dark;
}

#view-packs {
    .pack-list {
        .pack {
            header {
                background-color: $primary;
            }

            article {
                border: none;
                border-radius: 0;
                box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);

                .item-details {
                    .shortdescription {
                        text-align: center;
                        color: $text-dark;
                    }
                }
            }
        }
    }
}

.panel-default > .panel-heading {
    color: $white;
    background-color: $primary;
}

.test-image {
    background-image: url('/Content/styles/theme/bellezza/images/product01.png');
    background-size: auto 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 50px;
    width: 100%;
}

//images

.logonav {
    background-image: url('/Content/styles/theme/bellezza/images/logonav.png');
    background-repeat: no-repeat;
    min-height: 38px;
    min-width: 90px;
    background-size: contain;
}

.product01 {
    background-image: url('/Content/styles/theme/bellezza/images/product01.png');
    background-repeat: no-repeat;
    min-height: 260px;
    background-size: contain;
    background-position: center;
}

.product02 {
    background-image: url('/Content/styles/theme/bellezza/images/product02.png');
    background-repeat: no-repeat;
    min-height: 260px;
    background-size: contain;
    background-position: center;
}

.product03 {
    background-image: url('/Content/styles/theme/bellezza/images/product03.png');
    background-repeat: no-repeat;
    min-height: 260px;
    background-size: contain;
    background-position: center;
}

.product04 {
    background-image: url('/Content/styles/theme/bellezza/images/product04.png');
    background-repeat: no-repeat;
    min-height: 260px;
    background-size: contain;
    background-position: center;
}

.product05 {
    background-image: url('/Content/styles/theme/bellezza/images/product05.png');
    background-repeat: no-repeat;
    min-height: 260px;
    background-size: contain;
    background-position: center;
}

.homebanner {
    background-image: url('/Content/styles/theme/bellezza/images/banner01_long.jpg');
    min-height: 405px;
    width: 100%;    
    background-position: center;
}

.join01 {
    background-image: url('/Content/styles/theme/bellezza/images/img_join01.jpg');
    min-height: 285px;
    width: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.join02 {
    background-image: url('/Content/styles/theme/bellezza/images/img_join02.jpg');
    min-height: 285px;
    width: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}

.join03 {
    background-image: url('/Content/styles/theme/bellezza/images/img_join03.jpg');
    min-height: 285px;
    width: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}
