@model List<CustomerWallItem>

@if (Model != null)
{
    if (Model.Count > 0)
    {
        <ul class="list-group">
            @foreach (var activity in Model)
            {
                <li class="list-group-item">
                    @activity.Text<br />
                    <small>@Format.SocialDate(activity.EntryDate)</small>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="text-center">
            <p>@Resources.Common.NoActivity</p>
        </div>
    }
}
else
{
    <p>@Resources.Common.CardFailedToLoad</p>
}