@* Log-In Alert Menu Modal *@
<div id="logInAlertMenu" class="modal fade logInAlertMenu" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="">
                <div class="alertListContainer">
                    <div id="alertlist-target" class="alertListTarget"></div>
                </div>
                <div class="space-20"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
                            <div class="text-center">
                                <button class="btn btn-primary" data-role="addLogInAlert"><span class="glyphicon glyphicon-plus"></span> @Resources.Common.AddAlert</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-20"></div>
            </div>
        </div>
    </div>
</div>