body {
  color: #696969;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #f8f8f8;
}

body a {
  color: #0da1d7;
}

body a:hover, body a:active {
  color: #0e86b2;
}

body .login-bg {
  background-color: red;
}

.card-default > .card-heading {
  background-image: url("images/card-bg.jpg");
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px #696969;
  background-color: #666f75;
  border-bottom: 1px solid #666f75;
  border-radius: 0;
  border-left: 6px solid #666f75;
}

.card-default > .card-heading:before {
  border-top: 80px solid white;
  border-left: 80px solid red;
}

#site-content {
  background-color: #f8f8f8;
}

.btn {
  border-radius: 0;
  font-size: 14px;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.btn-info {
  border-radius: 0;
  border: 2px solid #af42e8;
  background-color: #fff;
  color: #af42e8 !important;
}

.btn-info:hover, .btn-info:active, .btn-info:visited {
  border: 2px solid #af42e8;
  background-color: #af42e8;
  color: #fff !important;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  border: 2px solid #af42e8;
  background-color: #af42e8;
  color: #fff !important;
}

.btn-primary {
  border-radius: 0;
  border: 2px solid #0da1d7;
  background-color: #fff;
  color: #0da1d7 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  border: 2px solid #0da1d7;
  background-color: #0da1d7;
  color: #fff !important;
}

.btn-default {
  border-radius: 0;
  border: 2px solid #666f75;
  background-color: #fff;
  color: #666f75 !important;
}

.btn-default:hover, .btn-default:active, .btn-default:visited {
  border: 2px solid #666f75;
  background-color: #666f75;
  color: #fff !important;
}

.btn-success {
  border-radius: 0;
  border: 2px solid #26d54c;
  background-color: #fff;
  color: #26d54c !important;
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
  border: 2px solid #26d54c;
  background-color: #26d54c;
  color: #fff !important;
}

.btn-danger {
  border-radius: 0;
  border: 2px solid #f13759;
  background-color: #fff;
  color: #f13759 !important;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  border: 2px solid #f13759;
  background-color: #f13759;
  color: #fff !important;
}

a {
  color: #0da1d7;
}

a:hover, a:active {
  color: #0e86b2;
}

.product-link {
  color: #0da1d7;
}

.product-link:hover, .product-link:active {
  color: #0e86b2;
}

.top-head {
  height: 30px;
  padding-top: 5px;
  background-color: #666f75;
  border: none;
}

.top-head a {
  color: #a0afb9;
  font-size: 12px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.top-head a:hover, .top-head a:active {
  background-color: #666f75;
  color: #fff;
}

.navbar-default {
  background-color: #fff;
  border: none;
  color: #696969;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
}

.navbar-default #cart-list {
  padding: 20px 10px;
}

.navbar-default .amount {
  color: #696969;
}

.navbar-default .product-link {
  color: #0da1d7;
}

.navbar-default .product-link:hover, .navbar-default .product-link:active {
  color: #0e86b2;
}

.navbar-default a {
  color: #666f75;
  font-size: 16px;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navbar-default a:hover, .navbar-default a:active {
  color: #575e63;
}

.navbar-default .order-preview {
  color: #696969;
}

.navbar-default .btn-default {
  color: #696969;
}

.navbar-default .btn-default:hover, .navbar-default .btn-default:active {
  color: #696969;
}

.hidden-xs .navbar-default {
  background-color: #666f75;
  box-shadow: -1px 5px 5px -4px rgba(0, 0, 0, 0.23);
}

.hidden-xs .navbar-default .dropdown .open {
  color: #fff;
  background-color: #646c72;
}

.hidden-xs .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.hidden-xs .navbar-default .navbar-nav > li > a:hover, .hidden-xs .navbar-default .navbar-nav > li > a:active, .hidden-xs .navbar-default .navbar-nav > li > a:focus, .hidden-xs .navbar-default .navbar-nav > li > a:visited {
  color: #fff;
  background-color: #646c72;
}

.hidden-xs .navbar-default .navbar-nav > li > a .open {
  color: #fff;
  background-color: #646c72;
}

.hidden-xs .navbar-default .navbar-nav > .open > a, .hidden-xs .navbar-default .navbar-nav > .open > a:hover, .hidden-xs .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #646c72;
}

.mainheader {
  background-color: #fff;
}

.mainheader .dist-name {
  font-weight: lighter;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: #696969;
  font-size: 16px;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
  color: #696969;
  background-color: #fcfcfc;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background-color: #575e63;
  border: none;
  color: #a0afb9;
}

@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:active {
    color: #fff;
    background-color: #555b60;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: #fff;
    background-color: #555b60;
  }
  .pull-right {
    float: none !important;
  }
  .side-collapse {
    background-color: #575e63;
  }
  .side-collapse a {
    color: #fff;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #0da1d7;
}

.white-text {
  color: #fff;
}

.blue-section {
  background-image: url("/Content/styles/theme/images/bluebg.jpg");
  background-size: cover;
  background-position: left top;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}

.text-info {
  color: #7c2ea4;
}

.text-success {
  color: #199033;
}

.text-danger {
  color: #f13759;
}

.text-default {
  color: #494d50;
}

.text-primary {
  color: #0a6283;
}

.page-title {
  display: block;
  /*font-size: 1.5em;*/
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  /*font-weight: bold;*/
  /*Custom*/
  text-transform: uppercase;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.card-section {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
  margin-bottom: 20px;
}

.banner01 .card-section {
  background-image: url("/Content/styles/theme/images/banner01.jpg");
  background-size: cover;
}

.banner01 .card-section .banner-text {
  text-align: right;
}

.banner01 .card-section h1, .banner01 .card-section h2, .banner01 .card-section h3 {
  margin: 0;
  color: #fff;
}

.banner01 .card-section h1 {
  font-size: 60px;
  font-weight: bold;
}

.banner01 .card-section h2 {
  font-size: 40px;
}

.banner01 .card-section h3 {
  font-size: 30px;
}

.banner02 .card-section {
  background-image: url("/Content/styles/theme/images/banner01.jpg");
  background-size: cover;
}

.banner02 .card-section h1, .banner02 .card-section h2, .banner02 .card-section h3 {
  margin: 0;
  color: #fff;
}

.banner02 .card-section h1 {
  font-size: 60px;
  font-weight: bold;
}

.banner02 .card-section h2 {
  font-size: 40px;
}

.banner02 .card-section h3 {
  font-size: 30px;
}

.home-products .row {
  text-align: center;
}

.home-products .row .btn {
  text-transform: uppercase;
}

.form {
  text-align: left;
}

.well {
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
  margin-bottom: 20px;
}

#shopping-cart-preview .dropdown-toggle .fa-shopping-cart {
  color: #a0afb9;
}

#categorylist-accordion .panel .panel-heading .panel-title, #categorylist-accordion .panel-heading .panel-heading .panel-title, #categorylist-accordion .panel-title .panel-heading .panel-title, #categorylist-accordion .panel-body .panel-heading .panel-title {
  border-radius: 0;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

.panel {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

.price {
  color: #0da1d7;
}

#Dist .modal-content {
  padding: 20px;
  border-radius: 0;
}

#Dist .modal-content .dist-name {
  font-weight: lighter;
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}

#Dist .id-social {
  font-size: 20px;
  margin-right: 8px;
}

.qtyplus, .qtyminus {
  background-color: transparent;
  border: 1px solid silver;
}

.qtyplus i, .qtyminus i {
  color: silver;
}

.qtyplus:hover, .qtyplus:active, .qtyminus:hover, .qtyminus:active {
  background-color: #0da1d7;
}

.qtyplus:hover i, .qtyplus:active i, .qtyminus:hover i, .qtyminus:active i {
  color: #fff;
}

.cart-remove:hover, .cart-remove:active {
  background-color: #f13759;
}

.view-paneledcart .form-control {
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.image01 {
  background-image: url("/Content/styles/theme/images/product01.png");
  background-size: 100%;
  width: 100%;
  padding-top: 29.8%;
  height: 0;
  text-indent: -9999px;
}

.alert-success {
  color: #fff;
  background-color: #26d54c;
  border-color: #21bb42;
}

#view-packs .pack-list .pack header {
  background-color: #0da1d7;
}

#view-packs .pack-list .pack article {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

#view-packs .pack-list .pack article .item-details .shortdescription {
  text-align: center;
  color: #696969;
}

/*Kendo*/
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
  background-color: #0da1d7;
  border-color: #0da1d7;
}

.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
  color: #0da1d7;
}

/*Panel*/
.panel-info {
  border-color: #666f75;
  border-radius: 0;
}

.panel-info .panel-heading {
  color: #fff;
  background-color: #666f75;
  border-color: #666f75;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #0da1d7;
}

#site-logo img {
  max-height: 100px;
}

.input-group .btn {
  padding: 7px 15px;
}

.input-group .btn-default {
  border: 1px solid #ccc;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #0da1d7;
  border-color: #0da1d7;
}

#auto-order-manager .auto-order-module-btn {
  margin: 0;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #575e63;
  border-radius: 0;
  color: #fff;
}

.breadcrumb .active {
  color: #fff;
}

#view-dashboard .well {
  border: none;
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

#view-dashboard .card {
  border-radius: 0;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
  border: none;
}

.progress-bar-info {
  background-color: #993cc9;
}

.tab-content {
  border-radius: 0;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 4px 5px 0 rgba(8, 11, 16, 0.2);
}

.logonav {
  background-image: url("/Content/styles/theme/bellezza/images/logonav.png");
  background-repeat: no-repeat;
  min-height: 30px;
  min-width: 77px;
  background-size: contain;
  max-width: 135px;
  margin-top: -7px;
}

.logomain {
  background-image: url("/Content/styles/theme/bellezza/images/logo.png");
  background-repeat: no-repeat;
  min-height: 100px;
  width: 100%;
  background-size: contain;
}

#view-sitelogin {
  width: 320px;
  height: 320px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -160px;
  background-color: #f8f8f8;
  border: none;
  color: #696969;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
}

.card-default > .card-footer {
  color: #fff;
  background-color: #666f75;
  border-color: #666f75;
  border-top: 2px solid #666f75;
  border-radius: 0;
}

a.card-footer:hover {
  color: #fff;
  background-color: #17b8f3;
  border-color: #17b8f3;
  text-decoration: none;
}

.card-recentorders .media {
  color: #0da1d7;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 0;
  }
}

.dial-chart {
  color: #993cc9 !important;
}

.card-recentorders .media-object {
  font-size: 25px;
}

.panel-default > .panel-heading {
  color: #fff;
  background-color: #666f75;
  border-color: #666f75;
  border-radius: 0;
}

.avatar {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 7px 10px -4px rgba(0, 0, 0, 0.23);
}

.row .col-a .card-title {
  font-size: 16px;
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-a {
    width: 25% !important;
  }
}

.row .col-b .card-title {
  font-size: 16px;
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-b {
    width: 25% !important;
  }
}

.row .col-c .card-title {
  font-size: 16px;
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-c {
    width: 25% !important;
  }
}

.row .col-d .card-title {
  font-size: 16px;
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 50% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 50% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-d {
    width: 25% !important;
  }
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-e {
    width: 50% !important;
  }
}

.row .col-e .card-body {
  text-align: center;
}

@media (min-width: 768px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .row .col-sm-6 .col-md-4, .row .col-f {
    width: 50% !important;
  }
}

/*# sourceMappingURL=theme.css.map */