
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div class="container">
    <div class="box-container">
        <div class="top box profile">profile</div>
        <div class="top box my-summary">my-summary</div>
        <div class="top box team-summary">team-summary</div>
        <div class="top box qualifications">qualifications</div>
        <div class="box retention">retention</div>
        <div class="box acquisition">acquisition</div>
        <div class="box profit">profit</div>
    </div>
</div>