@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<script src="https://code.highcharts.com/highcharts.js"></script>

<body>
    <div class="container">
        <div class="box-container">
            <div class="top box profile col">
                <p class="top-title">NIKITA KILDIBEKOV</p>
                <p class="top-id"> <img class="id-ava" src="~/Content/images/avatars/id_avatar.png" alt="face" height="11" width="11" /> 0000007 </p>
                <div class="row top-line">
                    <div>
                        <img src="~/Content/images/avatars/avatar-3.png" class="user-avatar" />
                    </div>
                </div>
                <div class="row bottom-line">
                    <div>
                        <p class="user-email">nickkildibekov@gmail.com</p>
                        <p class="user-phone">099-317-43-20</p>
                    </div>
                </div>
                <div class="row top-line">
                    <div class="first-left-stat-top-name">High rank</div>
                    <div class="first-middle-stat-top-name">Current rank</div>
                    <div class="first-right-stat-top-name">To next rank</div>
                </div>
                <div class="row top-line">
                    <div class="first-left-stat-value">Trainer</div>
                    <div class="first-middle-stat-value">Sponsor</div>
                    <div class="first-right-stat-value">83%</div>
                </div>
            </div>
            <div class="top box my-summary col">
                <p class="top-title">MY SUMMARY</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Personal Retail Sales</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value"><span>&#36;</span>110.108</div>
                    <div class="right-stat-value"><span>&#36;</span>100.000</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Sales Gross Profit</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Previous Month Sales +/-</div>
                    <div class="right-stat-top-name-smaller">March 2017 Sales +/-</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Avg. Piece Price</div>
                    <div class="right-stat-top-name">Pieces sold</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value"><span>&#36;</span>54.17</div>
                    <div class="right-stat-value">2035.5</div>
                </div>
            </div>
            <div class="top box team-summary">
                <p class="top-title">TEAM SUMMARY</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Team Volume</div>
                    <div class="right-stat-top-name">New Team Members</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value"><span>&#36;</span>731.657</div>
                    <div class="right-stat-value">11</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">TM's with + Sales</div>
                    <div class="right-stat-top-name-smaller">Leaders with + Bonus</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">44%</div>
                    <div class="right-stat-value">55%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Retention(120 days)</div>
                    <div class="right-stat-top-name-smaller">Retention(All time)</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">63%</div>
                    <div class="right-stat-value">70%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Team Avg. Piece Price</div>
                    <div class="right-stat-top-name-smaller">Team Piece count</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value"><span>&#36;</span>42.11</div>
                    <div class="right-stat-value">12,488.5</div>
                </div>
            </div>
            <div class="top box qualifications">
                <p class="top-title">QUALIFICATIONS</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Rank Qualified</div>
                    <div class="right-stat-top-name">Previous Month</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">No</div>
                    <div class="right-stat-value">Yes</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Cruise Qualified</div>
                    <div class="right-stat-top-name">Previous Month</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">Yes</div>
                    <div class="right-stat-value">No</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Team Rank Qualified</div>
                    <div class="right-stat-top-name-smaller">Previous Month</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">24</div>
                    <div class="right-stat-value">22</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Team Cruise Qualified</div>
                    <div class="right-stat-top-name">Previous Month</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value">94</div>
                    <div class="right-stat-value">93</div>
                </div>
            </div>
            <div class="retention">
                <div class="ret-box ret-top-center" style="text-align: center; padding-top: 20px; color: #999999;">RETENTION</div>
                <div class="ret-box ret-top-left border-bottom ">
                    <div id="container" style="width: 185px; height: 150px; margin-top: 10px; margin-left: 40px;"></div>
                </div>
                <div class="ret-box ret-top-middle top-text-between ">
                    <p class="tb-top-line">Total Customers</p>
                    <p class="tb-bottom-line">60</p>
                    <p class="tb-top-line">Active Customers</p>
                    <p class="tb-bottom-line">35</p>
                    <p class="tb-top-line">Inactive Customers</p>
                    <p class="tb-bottom-line">25</p>
                </div>
                <div class="ret-box ret-top-right ">
                    <div id="container2" style="width: 180px; height: 170px; margin-left: -10px; margin-top: 10px"></div>
                </div>
                <div class="ret-box ret-bottom-left">
                    <div id="container4" style="width: 185px; height: 150px; margin-top: 25px; margin-left: 40px;"></div>
                </div>
                <div class="ret-box ret-bottom-middle bottom-text-between">
                    <p class="tb-top-line">Total Customers</p>
                    <p class="tb-bottom-line">200</p>
                    <p class="tb-top-line">Active Customers</p>
                    <p class="tb-bottom-line">125</p>
                    <p class="tb-top-line">Inactive Customers</p>
                    <p class="tb-bottom-line">75</p>
                </div>
                <div class="ret-box ret-bottom-right">
                    <div id="container5" style="width: 180px; height: 170px; margin-left: -10px; margin-top: 25px;"></div>
                </div>
            </div>
            <div class="acquisition">
                <div class="ac-box ac-top-center" style="text-align: center; padding-top: 20px; color: #999999;">ACQUISITION</div>
                <div class="ac-box ac-top">
                    <div id="container3" style="width: 220px; height: 200px; padding-left: 15px;"></div>
                </div>
                <div class="ac-box ac-bottom">
                    <div id="container6" style="width: 220px; height: 180px; margin-top: 20px; padding-left: 15px;"></div>
                </div>
            </div>
            <div class="profit">
                <div class="pr-box pr-top-center" style="text-align: center; padding-top: 20px; color: #999999;">PROFIT</div>
                <div class="pr-box pr-top">
                    <div id="container7" style="width: 220px; height: 200px; margin-left: 18px;"></div>
                </div>
                <div class="pr-box pr-bottom">
                    <div id="container8" style="width: 220px; height: 200px; padding-top: 20px; margin-left: 18px;"></div>
                </div>
            </div>
        </div>
    </div>
<script>
    var container;
    var container2;
    var container3;
    var container4;
    var container5;
    var container6;
    var container7;
    var container8;

    var chart1 = new Highcharts.Chart(container);
    var chart2 = new Highcharts.Chart(container2);
    var chart3 = new Highcharts.Chart(container3);
    var chart4 = new Highcharts.Chart(container4);
    var chart5 = new Highcharts.Chart(container5);
    var chart6 = new Highcharts.Chart(container6);
    var chart7 = new Highcharts.Chart(container7);
    var chart8 = new Highcharts.Chart(container8);


    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8,
                    fontWeight: "normal"
                },
                align: 'left',
                padding: -10,
                symbolHeight: 8,
                marker: {
                    symbol: 'square'
                },
                itemDistance: -4,
                margin: 10,
                itemMarginLeft: 5,
                x: -2,
                symbolPadding: -1,
                symbolRadius: 0

            },
            endOnTick: { enabled: false },
            exporting:
            {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Inactive', 'Active']

            },
            yAxis: {
                min: 0,
                max: 40,
                title: { text: '' },
                labels: {
                    formatter: function () {
                        return this.value + "%";
                    }
                },
                tickAmount: 5
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 40
                }
            },
            series: [{
                    name: '0-30 Days',
                    data: [0, 12]
                },
                {
                    name: '30-60 Days',
                    data: [0, 8]
                },
                {
                    name: '60-90 Days',
                    data: [0, 10]
                },
                {
                    name: '90-120 Days',
                    data: [0, 5]
                },
                {
                    name: '120+ Days',
                    data: [25, 0]
                }],
        });
    });

    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'Personal',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 12
                },
                verticalAlign: 'top',
                floating: true,
                y: 2
            },
            subtitle: {
                text: '58%',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 40
                },
                verticalAlign: 'middle',
                floating: true,
                marginTop: 10
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    borderColor: null
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                }
            },
            series: [{
                name: '',
                data: [{
                    y: 58,
                    color: "#73D1CF"
                }, {
                    y: 42,
                    color: "#D4D4D4"
                }],
                size: '100%',
                innerSize: '80%',
                dataLabels: {
                    enabled: false
                }
            }]
        });
    });

    $(function () {
        $('#container3').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8
                },
                align: 'center',
                symbolHeight: 8,
                marker: {
                    symbol: 'square'
                },
                symbolRadius: 0,
                itemDistance: 5,
                margin: 5
            },
            endOnTick: { enabled: false },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'New Customers-Personal',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 11
                }
            },
            xAxis: {
                categories: ['Mar', 'Feb', 'Avg']
            },
            yAxis: {
                min: 0,
                max: 550,
                title: { text: '' },
                labels: {
                    formatter: function () {
                        return this.value + "k";
                    }
                },
                tickAmount: 3
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 40,
                    color: '#B7B5DA'
                },
            },
            series: [{
                name: 'Personal',
                data: [300, 245, 0]
            }]
        });
    });

    $(function () {
        $('#container4').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8,
                    fontWeight: "normal"
                },
                align: 'left',
                padding: -10,
                symbolHeight: 8,
                marker: {
                    symbol: 'square'
                },
                itemDistance: -4,
                margin: 10,
                itemMarginLeft: 5,
                x: -2,
                symbolPadding: -1,
                symbolRadius: 0

            },
            endOnTick: { enabled: false },
            exporting:
            {
                enabled: false
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: ['Inactive', 'Active']

            },
            yAxis: {
                min: 0,
                max: 40,
                title: { text: '' },
                labels: {
                    formatter: function () {
                        return this.value + "%";
                    }
                },
                tickAmount: 5
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 40
                },
            },
            series: [{
                    name: '0-30 Days',
                    data: [0, 12]
                },
                {
                    name: '30-60 Days',
                    data: [0, 8]
                },
                {
                    name: '60-90 Days',
                    data: [0, 10]
                },
                {
                    name: '90-120 Days',
                    data: [0, 5]
                },
                {
                    name: '120+ Days',
                    data: [25, 0]
                }],
        });
    });

    $(function () {
        $('#container5').highcharts({
            chart: {
                type: 'pie'
            },
            credits: {
                enabled: false
            },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'Team',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 12
                },
                verticalAlign: 'top',
                floating: true,
                y: 2
            },
            subtitle: {
                text: '63%',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 40
                },
                verticalAlign: 'middle',
                floating: true,
                marginTop: 10
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    borderColor: null
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.point.name + '</b>: ' + this.y + ' %';
                }
            },
            series: [{
                name: '',
                data: [{
                    y: 63,
                    color: "#73D1CF"
                }, {
                    y: 37,
                    color: "#D4D4D4"
                }],
                size: '100%',
                innerSize: '80%',
                dataLabels: {
                    enabled: false
                }
            }]
        });
    });

    $(function () {
        $('#container6').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8
                },
                align: 'center',
                symbolHeight: 8,
                marker: {
                    symbol: 'square'
                },
                symbolRadius: 0,
                itemDistance: 5,
                margin: 5
            },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'New Customers-Team',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 11
                }
            },
            xAxis: {
                categories: ['Mar', 'Feb', 'Avg']
            },
            yAxis: {
                min: 0,
                max: 200,
                title: { text: '' },
                labels: {
                    formatter: function () {
                        return this.value + "k";
                    }
                },
                tickAmount: 3
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 40,
                    color: '#76D2CF'
                }
            },
            series: [{
                name: 'Team',
                data: [40, 98, 0]
            }],
        });
    });

    $(function () {
        $('#container7').highcharts({
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8
                },
                align: 'center',
                padding: -10,
                symbolHeight: 5,
                marker: {
                    symbol: 'square'
                },
                symbolRadius: 0,
                itemDistance: 5,
                margin: 5
            },
            endOnTick: { enabled: false },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'Personal',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 13
                },
                margin: 4
            },
            xAxis: {
                categories: ['Current', 'Previous', 'Avg'],
                labels: {
                    style: {
                        fontSize: 8
                    }
                }
            },
            yAxis: [{
                    title: { text: '' },
                    labels: {
                        formatter: function () {
                            return this.value + "%";
                        },
                        style: {
                            fontSize: 6
                        }
                    },
                    tickAmount: 5,
                    min: 0,
                    max: 60
                },
                {
                    title: { text: '' },
                    opposite: true,
                    tickAmount: 5,
                    tickInterval: 13.5,
                    min: 0,
                    max: 70,
                    labels: {
                        formatter: function () {
                            return "$" + this.value + ".000";
                        },
                        style: {
                            fontSize: 6
                        }
                    }
                }],
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 25,
                    color: '#F68EAA'
                }
            },
            series: [{
                type: 'column',
                name: 'Total Amount',
                data: [48, 50, 60]
            },{
                type: 'spline',
                name: 'Average',
                data: [48,50,60],
                marker: {
                    enable: true,
                    align: 'top',
                    lineWidth: 2,
                    fillColor: 'white',
                    lineColor: '#81D3D2'
                }
            }]
        });
    });

    $(function () {
        $('#container8').highcharts({
            credits: {
                enabled: false
            },
            legend: {
                layout: 'horizontal',
                itemStyle: {
                    fontSize: 8
                },
                align: 'center',
                padding: -10,
                symbolHeight: 5,
                marker: {
                    symbol: 'square'
                },
                symbolRadius: 0,
                itemDistance: 5,
                margin: 5
            },
            endOnTick: { enabled: false },
            exporting:
            {
                enabled: false
            },
            title: {
                text: 'Team',
                style: {
                    color: '#74D1CF',
                    fontWeight: 'bold',
                    fontSize: 13
                }
            },
            xAxis: {
                categories: ['Current', 'Previous', 'Avg'],
                labels: {
                    style: {
                        fontSize: 8
                    }
                }
            },
            yAxis: [{
                    title: { text: '' },
                    labels: {
                        formatter: function () {
                            return this.value + "%";
                        },
                        style: {
                            fontSize: 6
                        }
                    },
                    tickAmount: 5,
                    min: 0,
                    max: 60
                },
                {
                    title: { text: '' },
                    opposite: true,
                    tickAmount: 5,
                    tickInterval: 13.5,
                    min: 0,
                    max: 70,
                    labels: {
                        formatter: function () {
                            return "$" + this.value + ".000";
                        },
                        style: {
                            fontSize: 6
                        }
                    }
                }],
            plotOptions: {
                column: {
                    stacking: 'normal',
                    pointWidth: 25,
                    color: '#F68EAA'
                }
            },
            series: [{
                type: 'column',
                name: 'Total Amount',
                data: [48, 50, 60]
            },{
                type: 'spline',
                name: 'Average',
                data: [48,50,60],
                marker: {
                    enable: true,
                    align: 'top',
                    lineWidth: 2,
                    fillColor: 'white',
                    lineColor: '#81D3D2'
                }
            }]
        });
    });
</script>
</body>