@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<body>
    <div class="container">
        <div class="box-container">
            <div class="top box profile">
                <p class="top-title">profile</p>
            </div>
            <div class="top box my-summary col">
                <p class="top-title">MY SUMMARY</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Personal Retail Sales</div>                   
                    <div class="right-stat-top-name">Goal</div>                    
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">110.108</div>
                    <div class="right-stat-value">100.000</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Sales Gross Profit</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Previous Month Sales +/-</div>
                    <div class="right-stat-top-name-smaller">March 2017 Sales +/-</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Avg. Piece Price</div>
                    <div class="right-stat-top-name">Pieces sold</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value">54.17</div>
                    <div class="right-stat-value">2035.5</div>
                </div>
            </div>
            <div class="top box team-summary">
                <p class="top-title">TEAM SUMMARY</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Personal Retail Sales</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">110.108</div>
                    <div class="right-stat-value">100.000</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Sales Gross Profit</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Previous Month Sales +/-</div>
                    <div class="right-stat-top-name-smaller">March 2017 Sales +/-</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Avg. Piece Price</div>
                    <div class="right-stat-top-name">Pieces sold</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value">54.17</div>
                    <div class="right-stat-value">2035.5</div>
                </div>
            </div>
            <div class="top box qualifications">
                <p class="top-title">QUALIFICATIONS</p>
                <div class="row top-line">
                    <div class="left-stat-top-name">Personal Retail Sales</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">110.108</div>
                    <div class="right-stat-value">100.000</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Sales Gross Profit</div>
                    <div class="right-stat-top-name">Goal</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name-smaller">Previous Month Sales +/-</div>
                    <div class="right-stat-top-name-smaller">March 2017 Sales +/-</div>
                </div>
                <div class="row bottom-line">
                    <div class="left-stat-value">53.2%</div>
                    <div class="right-stat-value">50%</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-top-name">Avg. Piece Price</div>
                    <div class="right-stat-top-name">Pieces sold</div>
                </div>
                <div class="row top-line">
                    <div class="left-stat-value">54.17</div>
                    <div class="right-stat-value">2035.5</div>
                </div>
            </div>
            <div class="box retention">
                <p class="top-title">retention</p>
            </div>
            <div class="box acquisition">
                <p class="top-title">acquisition</p>
            </div>
            <div class="box profit">
                <p class="top-title">profit</p>
            </div>
        </div>
    </div>
</body>