@model int
    @{
        var contextID = Guid.NewGuid().ToString();
    }

    <div id="view-languages-@contextID">               
        @Html.DropDownList("Language", Html.Languages(), new { @class = "form-control" })        
    </div>