$blue: #00a7d0;
$ltblue: #60b4e5;
$babyblue: #badbed;
$orange: #f26c24;
$ltorange: #f3a154;
$peach: #f6d2a0;
$green: #96ca3d;
$lime: #a3ce5f;
$ltgreen: #c4dd88;	
$navy: #0e2c52;
$dkgray: #0e2c52;
$gray: #c3c5c8;
$lightgray: #f8f8f8;
$topbar-gray : #D3D3D3;
$mainnav-gray: #C3C5C8;
$medium-gray: #7e888d;
$mainnav-text: #525051;
$darkblue: #0E2F50;